doctype html
head
  title Contact V3
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/FindABuddy.css')
  // ===============================================================================================
.bg-contact3(style="background-image: url('images/bg-01.jpg');")
  .container-contact3
    .wrap-contact3
      form.contact3-form.validate-form
        span.contact3-form-title
          | Find A Buddy
        .wrap-contact3-form-radio
          .contact3-form-radio.m-r-42
            input#radio1.input-radio3(type='radio' name='choice' value='say-hi' checked='checked')
            label.label-radio3(for='radio1')
              | Current Location
          .contact3-form-radio
            input#radio2.input-radio3(type='radio' name='choice' value='get-quote')
            label.label-radio3(for='radio2')
              | Give me Map!
        .wrap-input3.validate-input(data-validate='Name is required')
          input.input3(type='text' name='name' placeholder='Your Name')
          span.focus-input3
        .wrap-input3.validate-input(data-validate='Course is required: (example: MATH 100)')
          input.input3(type='text' name='course' placeholder='Add a New Course')
          span.focus-input3
        .wrap-input3.input3-select
          div
            select.selection-2(name='service')
              option Needed Services
              option eCommerce Bussiness
              option UI/UX Design
              option Online Services
          span.focus-input3
        .wrap-input3.input3-select
          div
            select.selection-2(name='budget')
              option Budget
              option 1500 $
              option 2000 $
              option 3000 $
          span.focus-input3
        .wrap-input3.validate-input(data-validate='Message is required')
          textarea.input3(name='message' placeholder='Any additional info, like availability and exact location, goes here...')
          span.focus-input3
        .container-contact3-form-btn
          button.contact3-form-btn
            | Submit
#dropDownSelect1
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
script.
  $(".selection-2").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect1')
  });
// ===============================================================================================
script(src='js/main.js')
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');

