extends layout

block content
  img(src='logo.png' width='400' height='80')
  p.lead Find study partners near you.
  hr
  .row

    .col-md-6
      h2 Create an account, start learning
      p We believe and want to promote collaborative learning, and study-buddy is here to make it easier for everyone.

    .col-md-6
      h2 Important: Please remember your courses' collaboration policies
      p Check your school's policies on collaboration. Different courses have different course policies, so help yourselves and others avoid academic misconduct :)
      p
        a.btn.btn-raised(href='http://www.calendar.ubc.ca/Vancouver/index.cfm?tree=3,54,111,959' target="_blank", role='button') More on UBC course policies »
